{% extends "base.html" %}

{% block content %}
<div class="alert alert-secondary mt-4">
    <p>Эта планета близка к Земле;</p>
</div>
<div class="alert alert-success mt-4">
    <p>На ней много необходимых ресурсов;</p>
</div>
<div class="alert alert-secondary mt-4">
    <p>На ней есть вода и атмосфера;</p>
</div>
<div class="alert alert-warning mt-4">
    <p>На ней есть небольшое магнитное поле;</p>
</div>
<div class="alert alert-danger mt-4">
    <p>Наконец, она просто красива!</p>
</div>
{% endblock %}