{% extends "base.html" %}

{% block content %}
    <li class="list-group-item list-group-item-{{colors[0]}}">Юпитер — самая большая планета в Солнечной системе;</li>
    <li class="list-group-item list-group-item-{{colors[1]}}">Он состоит в основном из водорода и гелия;</li>
    <li class="list-group-item list-group-item-{{colors[2]}}">Юпитер имеет мощное магнитное поле;</li>
    <li class="list-group-item list-group-item-{{colors[3]}}">На нём находится знаменитое Большое Красное Пятно;</li>
    <li class="list-group-item list-group-item-{{colors[4]}}">Исследование Юпитера может раскрыть тайны формирования планет.</li>
{% endblock %}