{% extends "base.html" %}

{% block content %}
    <li class="list-group-item list-group-item-{{colors[0]}}">Эта планета близка к Земле;</li>
    <li class="list-group-item list-group-item-{{colors[1]}}">На ней много необходимых ресурсов;</li>
    <li class="list-group-item list-group-item-{{colors[2]}}">На ней есть вода и атмосфера;</li>
    <li class="list-group-item list-group-item-{{colors[3]}}">На ней есть небольшое магнитное поле;</li>
    <li class="list-group-item list-group-item-{{colors[4]}}">Наконец, она просто красива!</li>
{% endblock %}