{% extends "base.html" %}

{% block content %}
    <li class="list-group-item list-group-item-{{colors[0]}}">Венера — вторая планета от Солнца;</li>
    <li class="list-group-item list-group-item-{{colors[1]}}">На ней очень плотная атмосфера;</li>
    <li class="list-group-item list-group-item-{{colors[2]}}">Температура на поверхности крайне высокая;</li>
    <li class="list-group-item list-group-item-{{colors[3]}}">Исследование Венеры может помочь понять парниковый эффект;</li>
    <li class="list-group-item list-group-item-{{colors[4]}}">Она имеет яркий и загадочный вид.</li>
{% endblock %}